.wps-full-wrapper {

    //Dashboard
    .wps-dashboard-grid {
        padding: 20px;

        .wps-dash-column {
            margin-bottom: 0;
        }

        .wps-column-box {
            box-shadow: 0 0 20px 0 rgba(215,222,227,0.56);
            border-radius: 8px;
            background-color: #ffffff;
            margin-top: 30px;

            &.wps-column-box-inner {
                margin-bottom: 20px;
            }
        }
    
        .nft-dashboard {
            background: #FF017B;
        }

        .stakings-dashboard {
            background: #7A5BB1;
        }

        .crowdfundings-dashboard {
            background: #02AFE1;
        }

        .tokens-dashboard {
            background: #00C7C3;
        }
    
        .wps-colBox-title-lg {
            display: flex;
            align-items: center;
            width: 100%;
            height: 54px;
            background-color: #192542;
            padding: 9px 17px;
            color: #ffffff;
            font-size: 22px;
            font-weight: 600;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
    
            img {
                margin-right: 12px;
            }

            &.wps-colBox-title-inner {
                background-color: #a1a0bf;
                font-size: 16px;
                font-weight: 600;
                color: #ffffff;
                justify-content: space-between;

                .select-dropdown__button {
                    width: 130px;
                }
            }
        }
    
        .wps-mobile-direction {
            margin-left: auto;
            font-size: 14px;
            font-weight: 400;
            color: #ff017b;

            @media (min-width: 768px) {

            }
        }
    
        .wps-colBox-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 9px 17px;
        }
    
        .select-dropdown__button {
            background: #FFFFFF;
            border: 1px solid #EAEDEF;
            box-shadow: 0 2px 20px 0 rgba(207,217,223,0.40);
            border-radius: 100px;
            width: 80px;
        }

        .wps-colBox-price {
            padding: 9px 17px;
            text-align: left;

            * {
                font-size: 36px;
                color: #FFFFFF;
                font-weight: 600;
            }

            .wps-colBox-cents {
                font-size: 20px;
                color: #FFFFFF;
                position: relative;
                top: -12px;
            }
        }

        .wps-colBox-top p {
            font-size: 16px;
            color: #FFFFFF;
        }

        .wps-colBox-bottomInfo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ffffff;
            width: 100%;
            height: 37px;
            padding: 0 0 0 17px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .wps-period-detail {
            font-size: 14px;
            color: #38B900;
            font-weight: 400;
            display: flex;
            align-items: center;
            padding-top: 9px;
            padding-bottom: 9px;

            .icon {
                margin-right: 8px;
                width: 10px;
                height: 10px;
                display: flex;
            }

            &.wps-period-detail-green {
                color: #38B900;

                .icon {
                    background-image: url('../img/up-arrow-green.svg');
                }
            }

            &.wps-period-detail-red {
                color: #FF004B;

                .icon {
                    background-image: url('../img/down-arrow-red.svg');
                }
            }
        }

        .wps-colBox-seeDetails {
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            color: #F52D56;
            border-left: 1px solid #E9E9E9; 
            padding: 0 37px;   
            text-decoration: none;        
        }

        .wps-colBox-seeAll {
            height: 37px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            font-weight: 400;
            color: #F52D56; 
            width: 99px;    
            border-bottom-right-radius: 8px;
            border-top-left-radius: 8px;   
            text-decoration: none;   

            img {
                margin-left: 8px;
            }
        }

        .wps-colBox-cta {
            display: flex;
            justify-content: flex-end;
        }

        .wps-panel {
            margin-top: 0;
        }

        .chart-container {
            width: 190px;
            margin: auto;
            padding-top: 40px;
        }

        @media (min-width: 768px) {
            .wps-colums {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .wps-dash-column {
                    width: 48%;
                }
            }
        }
    
        @media (min-width: 1300px) {
            .wps-mobile-direction {
                display: none;
            }

            .wps-colums {
                flex-wrap: nowrap;

                .wps-dash-column {
                    width: 23.5%;
                }
            }

            .wps-colBox-title-lg {
                font-size: 21px;
            }

            .wps-colBox-title-lg {
                font-size: 24px;
            }

            & {
                margin: 20px 10px auto;
            }
        }
    }

    //DARK THEME
    &.dark-theme {

        .wps-dashboard-grid {

            .wps-column-box {
                box-shadow: none;
                background-image: linear-gradient(132deg, #273036 0%, #1E262A 39%, #030404 100%);
            }

            .wps-colBox-title-lg {
                background-image: linear-gradient(180deg, #273036 0%, #121719 100%);
                //text-shadow: 0 2px 4px rgba(255,255,255,0.40);

                &.wps-colBox-title-inner {
                    background-image: none;
                    background-color: transparent;
                    font-size: 20px;
                }
            }

            .nft-dashboard {
                background-image: linear-gradient(121deg, #FF02B2 0%, #43009C 100%);
            }
    
            .stakings-dashboard {
                background-image: linear-gradient(122deg, #B294D9 0%, #43009C 100%);
            }
    
            .crowdfundings-dashboard {
                background-image: linear-gradient(122deg, #05D8F2 0%, #43009C 100%);
            }
    
            .tokens-dashboard {
                background-image: linear-gradient(122deg,#00fffa 0,#0a302f 100%);
                    
            }

            // .wps-colBox-price {
            //     text-shadow: 0 2px 4px rgba(255,255,255,0.40);
            // }

            .wps-colBox-bottomInfo {
                background-image: linear-gradient(180deg, #273036 0%, #121719 100%);
            }

            .wps-colBox-seeDetails {
                border-left: 1px solid #000000;
                color: #00C7C3; 
            }

            .wps-colBox-seeAll {
                background-color: #000000;
                color: #ffffff;
            }
        }

    }
}