.wps-full-wrapper {

    .wps-inner-content {
        padding: 20px;

        @media (min-width: 1300px) {
            & {
                padding-top: 40px;
            }
        }

        .wps-description-box-out-border {
            margin-bottom: 80px;
        }

        .wps-description-box {
            background-image: radial-gradient(circle at 1.7% 12%, #DAFFFE 0%, #4BE8E2 43%, #9AA8EC 87%, #F883B8 127%);
            box-shadow: 0 0 20px 0 rgba(129,129,130,0.40);
            border-radius: 8px;
            padding: 40px;
        }

        .wps-box-heading {
            font-size: 24px;
            color: #FF017B;
            font-weight: 600;
            margin: 0;
        }

        .wps-box-description {
            font-size: 20px;
            color: #242E42;
            font-weight: 400;
            margin-bottom: 0;
            max-width: 850px;
        }

        .wps-step-nav {
            display: flex;
            max-width: 850px;
            padding: 0;
            align-items: flex-start;
            justify-content: space-between;
            margin: auto;
            margin-bottom: 40px;

            @media (min-width: 768px) {
                margin-bottom: 65px;
            }
        }

        .wps-step-nav-col {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer;
            width: 180px;
            position: relative;

            @media (min-width: 850px) {

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 110px;
                    height: 1px;
                    background-color: #FF017B;
                    right: -135px;
                    top: 27px;
                }

                &.wps-step-nav-three:after { display: none;}
            }
        }

        .wps-step-icon {
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 36px;
            font-weight: 600;
            color: #FF017B;
            background-color: #ffffff;
            border-radius: 50%;

            @media (max-width: 767px) {
                width: 40px;
                height: 40px; 
                font-size: 24px;
            }
        }

        .wps-step-heading {
            color: #AEAEAE;
            font-size: 24px;
            font-weight: 600;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            text-transform: uppercase;

            @media (max-width: 767px) {
                font-size: 20px;
            }
        }

        .wps-step-desc {

            @media (max-width: 767px) {
                font-size: 14px;
            }

        }

        .wps-step-edit {
            display: none;
            margin-left: 10px;
            width: 16px;
            height: 16px;
            cursor: pointer;

            @media (min-width: 768px) {
                width: 20px;
                height: 20px;
            }
        }

        .wps-step-nav-active {
            .wps-step-icon {
                background-color: #FF017B;
                color: #ffffff;
            }

            .wps-step-heading {
                color: #FF017B;
            }
        }

        .wps-step-nav-updated {
            .wps-step-edit {
                display: flex;
            }
        }

        .wps-step-content {
            display: none;
            max-width: 1048px;
            margin: auto;

            &.wps-step-content-active {
                display: block;
            }
        }

        .wps-step-text {
            font-size: 16px;
            color: #242E42;
            font-weight: 400;

            @media (min-width: 768px) {
                font-size: 24px;
            }
        }

        .wps-filters-box {
            background: #323842;
            border-radius: 8px;
            padding: 20px;

            @media (min-width: 768px) {
                padding: 32px;
                display: flex;
                justify-content: space-between;

                .wps-filters-col {
                    width: 50%;
                }
            }
        }

        .wps-filters-col {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 40px;

            @media (min-width: 768px) {
                margin-bottom: 0;
            }

            h2 {
                font-size: 16px;
                color: #FF017B;
                font-weight: 600;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                width: 100%;
                margin-bottom: 20px;
            }

            .wps-filter-result {
                width: 100%;
                font-size: 16px;
                color: #FF017B;
                margin-top: 40px;
            }

            &.wps-dior {
                margin-bottom: 0;
            }
        }

        .wps-dior {
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (min-width: 768px) {
                border-left: solid 2px #00C7C3;
                padding-left: 40px;
            }

            @media (min-width: 992px) {
                padding-left: 52px;
            }

            h2 {
                margin: 0;
                padding: 0;
                color: #ffffff;
                font-weight: 600;
            }

            p {
                color: #ffffff;
                font-weight: 400;
                line-height: 28px;
            }
        }

        .wps-filter-column {
            width: 50%;
        }

        .switch-group {
            display: flex;
            align-items: center;
            margin-bottom: 16px;

            .switch {
                margin-right: 10px;

                @media (min-width: 768px) {
                    margin-right: 18px;
                }
            }
        }

        .switch-label {
            font-size: 16px;
            color: #ffffff;
        }

        .help-box {
            border: 1px solid #323842;
            border-radius: 8px;
            padding: 16px 23px;

            .wps-help-title,
            .wps-help-link {
                margin: 0;
                padding: 0;
                color: #000000;
                font-size: 16px;
                font-weight: 600;
            }

            .wps-help-link {
                color: #0099E5;
                text-decoration: none;
                font-weight: 400;
            }
        }
    }

    //DARK THEME
    &.dark-theme {

        .wps-inner-content {

            .wps-description-box-out-border {
                background-image: linear-gradient(91deg, #E70742 0%, #CA0E8A 31%, #735DD8 67%, #04DBF9 100%);
                border-radius: 8px;
                padding: 2px;
            }

            .wps-description-box {
                background-image: linear-gradient(261deg, #172B2F 0%, #2E1415 100%);
                border-radius: 8px;
                box-shadow: none;
            }

            .wps-box-heading,
            .wps-box-description {
                color: #ffffff;
            }

            .wps-step-nav-active {

                .wps-step-icon {
                    background-color: #00C7C3;
                    border: none;
                    color: #ffffff;
                }

                .wps-step-heading {
                    color: #00C7C3;
                }
            }

            .wps-step-icon {
                background-color: transparent;
                border: solid 2px #ffffff;
                color: #00C7C3;
            }

            .wps-step-desc {
                color: #FF3D9A;
            }

            .wps-filters-col h2,
            .wps-filter-result {
                color: #00C7C3;
            }

            .wps-step-heading,
            .wps-dior h2,
            .wps-step-text  {
                color: #ffffff;
            }

            .help-box {
                border: solid 1px #ffffff;

                .wps-help-title {
                    color: #ffffff;
                }
            }

        }

    }
}