.wps-full-wrapper {

    .wps-smartContracts-table {
        padding: 37px 16px;
    }

    .wps-table {
        .wps-table-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px 0;
            border-bottom: solid 1px #D8D8D8;
            max-width: 242px;
            margin: auto;

            a {
                text-decoration: none;
                font-size: 12px;
                font-weight: 400;
                color: #168FEB;
            }
        }

        .wps-flag {text-decoration: none;
            border-radius: 8px;
            width: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #ffffff;
            font-size: 11px;
            font-weight: 600;
            padding: 9px 6px 6px;

        }

        .wps-table-copy,
        .wps-table-qr {
            background-color: transparent;
            padding: 0 4px;
            margin: 0;
            border: none;
            cursor: pointer;
        }

        .wps-table-qr {
            position: relative;

            .wps-tooltip {
                display: none;
                width: 200px;
                height: 200px;
                background-color: #ffffff;
                border-radius: 8px;
                padding: 20px;
                position: absolute;
                top: -206px;
                left: -100px;
                z-index: 2;
                background: #FFFFFF;
                box-shadow: 0 0 20px 0 rgba(215,222,227,0.62);
                border: solid 1px #ececec;
                padding-top: 20px;
                text-align: center;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;

                .wps-tooltip-bottom-content {
                    width: 100%;
                    padding: 10px;
                    background-color: #ececec;
                    color: #000000;
                    text-align: center;
                    margin-top: auto;
                }
            }

            &:hover {
                .wps-tooltip {
                    display: flex;
                    flex-direction: column;
                }
            }

        }

        .wps-row-text {
            font-size: 14px;
            color: #000000;
            font-weight: 400;
            margin: 0;
        }

        .wps-bg-red{
            background: #ED2E4E;
        }

        .wps-bg-green{
            background: #3BCA52;
        }

        .wps-bg-yellow{
            background: #FFCE53;
        }

        .wps-bg-purple{
            background: #6601AE;
        }

        .wps-bg-brown{
            background: #83450E;
        }
    }

    .wps-table-container {
        padding: 20px 15px 40px;
    }

    .wps-real-table {
        width: 100%;
        border: none;

        th {
            text-align: left;
            background: #e3e4e6;
            height: 40px;
            opacity: 0.5;
            font-size: 12px;
            color: #54617A;
            font-weight: 400;
            text-transform: uppercase;
            padding-left: 8px;
        }

        td {
            font-size: 14px;
            color: #54617A;
            font-weight: 400;
            padding: 18px 8px;
            border-bottom: solid 1px #EFF3F9;
        }
    }
}