/**
* @author Allan Estrada
*/

/* BASE - Base styles, variables, mixins, etc*/
@import "variables";
@import "normalize";

@import "main-nav";
@import "secondary-nav";
@import "dropdown-custom";
@import "theme-color";
@import "accordeon";
@import "grid";
@import "tables";
@import "sidebar";
@import "footer";
@import "icons";


body {
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F0;
}

body.dark-theme {
    background-color: #000000;
}

.wps-main-wrapper {
    display: flex;
    flex-direction: column;

    .wps-content-page {
        width: 100%;
    }

    @media (min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
    }
}