/**
* @author Allan Estrada
*/

/* BASE - Base styles, variables, mixins, etc*/
@import "variables";
@import "normalize";

@import "main-nav";
@import "secondary-nav";
@import "dropdown-custom";
@import "theme-color";
@import "accordeon";
@import "grid";
@import "tables";
@import "sidebar";
@import "footer";
@import "icons";
@import "inner-content";
@import "switch";
@import "wps-box";
@import "custom-checkbox";
@import "form";


body {
    font-family: 'Roboto', sans-serif;
    background-color: #ECF0F0;
}

body.dark-theme {
    background-color: #000000;
}

.wps-main-wrapper {
    display: flex;
    flex-direction: column;

    .wps-content-page {
        width: 100%;
    }

    @media (min-width: 992px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.wps-heading1 {
    padding: 10px;
    font-size: 32px;
    color: #242E42;
    font-weight: 600;
}

.wps-heading2 {
    padding: 10px;
    font-size: 24px;
    color: #242E42;
    font-weight: 600;
}

.wps-paragraph {
    font-size: 20px;
    color: #242E42;
    font-weight: 400;
    margin-bottom: 20px;
}

.wps-divide-line {
    width: 50%;
    height: 1px;
    background-color: #242E42;
    margin-bottom: 40px;
}

//DARK THEME
.dark-theme {

    .wps-heading1 {
        color: #ffffff;
    }
    
    .wps-heading2 {
        color: #ffffff;
    }
    
    .wps-paragraph {
        color: #ffffff;
    }
    
    .wps-divide-line {
        background-color: #ffffff;
    }

}